th {
	border-bottom: 1px solid #666;
}

body {
	background-color: #ececec;
}

.jumbotron {
    padding: 40px;
    margin-top: 30px;    
    background-color: #264a69;
    color: white;
}
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #ffffff;
    border-color: #424242;
}